<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All books list</title>
</head>
<body>
<div>
    <a th:href="@{/books/create}">Create</a>
</div>
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
            <th>hidden</th>
            <th>edit</th>
            <th>show</th>
            <th>hide</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${books}">
            <td th:text="${book.id}"></td>
            <td><a th:href="@{'/questions?id=' + ${book.id}}" th:text="${book.name}"></a></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.hidden}"></td>
            <td><a th:href="@{'/books/edit?id=' + ${book.id}}">Edit</a></td>
            <td><a th:href="@{'/books/show?id=' + ${book.id}}">Show</a></td>
            <td><a th:href="@{'/books/hide?id=' + ${book.id}}">Hide</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>